# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store

# IDE & Editors
.vscode/
.idea/
*.suo
*.user

# Dependencies & Build artifacts (hazır şablonlar)
node_modules/
dist/
build/
bin/
obj/
__pycache__/
*.pyc
.env
.env.local
